@use "../styles/partials/typography" as *;

*{
  font-family: 'Press Start 2P'
}
body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.pokemon-card {
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative; // Add this line
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; // Set the z-index below other elements
  background-image: url("./assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none; // Add this line
}
